@import url('https://fonts.googleapis.com/css2?family=Rubik+Lines&family=Shadows+Into+Light&display=swap');

body {
    background: #C02425;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F0CB35, #C02425);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F0CB35, #C02425); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    font-family: "Rubik Lines", system-ui;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
}